body{
	margin:0;
	padding:0;
	font-family:sans-serif;	
	background-image:url(sky3.jpg);
	background-size:cover;
}
img{
	height:50px;
	width:50px;
	margin-left:115px;
	margin-bottom:10px;
}
span{
		position:relative;
		font-size:20;
		font-weight: bold;	
		font-family:sans-serif;
		left:47px;
}
.login-box{
	width:280px;
	position:absolute;
	top:40%;
	left:50%;
	color:#03f4f4;
	transform:translate(-50%,-50%);
	background-color:#607d8b61;
	border-radius:40px 5px;
	padding:10px;
}
h1{
	text-align:center;
	font-size:20px;
	border-bottom:2px solid #03f4f4;
	margin-bottom:10px;
	padding:10px 0px;
}
.textbox{
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin-top:10px;
	background-color:#3f51b545;
	border-radius:20px
}
.textbox:hover{
	background-color:#0000ff42;
}
.textbox i{
		width:26px;
		float:left;
		text-align:center;
	}	
.textbox input{
	width:250px;
	height:30px;
	border:none;
	outline:none;
	background:none;
	color:blue;
	font-size:15px;
	
}
.btn{
	width:100%;
	height:40px;
	background-color:#19f30c96;
	border:1px solid #1c8847;
	border-radius:20px;
	color:#1c8847;
	padding:5px;
	margin-top:10px;
	font-weight:bold;
	font-size:1em;
}
.button:hover{
	cursor:pointer;
	background-color:#03f4f4;
}
a{
	font-family:sans-serif;
	font-size:15px;
	color:#1c8847;
	float:left;
	text-decoration:none;
}
a:hover{
	 color:#03f4f4;
	 cursor:pointer;
}